mixin cardsOne(data)
    .page-home__card
        .card
            .card__header
                .card__header-img.img-1
                    //если изпользовать контентные картинки
                    //img(src=data.src).card__img
            .card__footer-card
                .footer-card
                    .footer-card__title=data.title
                    .footer-card__desc=data.desc
                    .footer-card__footer
                        .footer-card__date-card
                            .date-card__icon
                                i.clock-icon
                            .date-card__date=data.date
                        .footer-card__views-card
                            .views-card__icon
                                i.eye-icon
                            .views-card__count=data.count

mixin cardsTwo(data)
    .page-home__card
        .card
            .card__header
                .card__header-img.img-2
                    //img(src=data.src).card__img
            .card__footer-card
                .footer-card
                    .footer-card__title=data.title
                    .footer-card__desc=data.desc
                    .footer-card__footer
                        .footer-card__date-card
                            .date-card__icon
                                i.clock-icon
                            .date-card__date=data.date
                        .footer-card__views-card
                            .views-card__icon
                                i.eye-icon
                            .views-card__count=data.count

mixin cardsBlack(data)
    .page-home__card.card--black
        .card
            .card__header
                .card__header-img.img-3
                    //img(src=data.src).card__img
            .card__footer-card
                .footer-card
                    .footer-card__title=data.title
                    .footer-card__desc=data.desc
                    .footer-card__footer
                        .footer-card__date-card
                            .date-card__icon
                                i.clock-icon
                            .date-card__date=data.date
                        .footer-card__views-card
                            .views-card__icon
                                i.eye-icon
                            .views-card__count=data.count

mixin cardsYellow(data)
    .page-home__card.card--yellow
        .card
            .card__header
                .card__header-img.img-4
                    //img(src=data.src).card__img
            .card__footer-card
                .footer-card
                    .footer-card__title=data.title
                    .footer-card__desc=data.desc
                    .footer-card__footer
                        .footer-card__date-card
                            .date-card__icon
                                i.clock-icon
                            .date-card__date=data.date
                        .footer-card__views-card
                            .views-card__icon
                                i.eye-icon
                            .views-card__count=data.count

mixin cardsLarge(data)
    .page-home__card.card--large
        .card
            .card__header
                .card__header-img.img-5
                    //img(src=data.src).card__img
            .card__footer-card
                .footer-card
                    .footer-card__title=data.title
                    .footer-card__desc=data.desc
                    .footer-card__footer
                        .footer-card__date-card
                            .date-card__icon
                                i.clock-icon
                            .date-card__date=data.date
                        .footer-card__views-card
                            .views-card__icon
                                i.eye-icon
                            .views-card__count=data.count